
/* === SANDSTONE color palette =========================================== */




/* === TOP FRAME TABS ================= */

	/* Active tabs */
#topTabActive,
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover,
div.topTabs-compact table.appTabs tr td.active a,
div.topTabs-compact table.appTabs tr td.active a:hover,
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a:focus {
	background-color:#fff;
	border-color:#fff;
}
	
	/* Idle Tabs */
#topTab,
table.appTabs tbody tr td a, div.topTabs-compact table.appTabs tr td a  {
	background-color:#828174;
	border-color:#67675C;
	border-bottom:0;
	color:#fff;
}

table.appTabs tbody tr td a:hover, div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, div.topTabs-compact table.appTabs tr td a:focus  {
  	border-color:#67675C;
	background-color: #C4C3AF;
	border-bottom:0;
}

	/* Bottom border for the whole tabset */
div.topTabs, div.topTabs-compact div.tabWrapper-left, div.topTabs-compact div.tabWrapper-center, div.topTabs-compact div.tabWrapper-right {
	border-color:#fff;
}

#topFrame, .bgBanner {
	background-color:#333333;
	color:#FFFFFF;
}




/* === BODY ================= */

	/* Branding */
#contentFrame,
#schemePreview,
	/* Body */
body, 
body.ineditmode, 
body.topFrame,
	/* Orientation bar */
div.breadcrumbs,
	/* Pane tabs*/
	/* Pane tabs: Setting background color to the li.active so that in some themes where active tab link color != actionBar background color it would inherit li background. */
div.paneTabs ul li.active, 
div.paneTabs ul li,

	/*course building wizard background.*/
body.wizardBody div.containerWizard {
	background-color:#D1D0BA;
}

div.breadcrumbs {border-color:#7A8C50;}

div.menuWrap, #navigationPane, div.navigationPane  {
	background-color:inherit;
}

body.ineditmode div.listCm, body.ineditmode div#editmodeWrapper {
	border-color:#3F3347;
}

/* --- END BODY --- */




/* === BREADCRUMBS ================= */

	/* Background */
div.breadcrumbs div.path, 
div.breadcrumbs div.simplePath,
div.breadcrumbs div.topRound b, 
div.breadcrumbs div.bottomRound b {
	background-color:#DFDED1;
}

	/* Root element */
div.breadcrumbs div.path ol li.root, 
div.simplePath ol li.root {
	background-color:#9F9E8B;
	border-color:inherit;
}

	/* Links */ 
div.simplePath a, div.breadcrumbs div.path ol li.root a, 
div.breadcrumbs div.simplePath ol li.root a {
	/*color:#f0f0f0;*/
}

div.simplePath a, div.breadcrumbs div.path ol li.root a:hover, 
div.breadcrumbs div.simplePath ol li.root a:hover {
	color:#fff;
}

div.breadcrumbs div.path a {
	/*color:#222;*/
}

div.breadcrumbs div.path a:hover {
	color:#000;
}

	/* Last entry */
div.breadcrumbs div.path , 
div.simplePath  {
	color:#000;
}

/* --- END BREADCRUMBS --- */




/* === LEFT SIDE NAVIGATION ================= */

	/* Palette headers */
.navPalette h3, div.listCm h3, div.tools h3,
div.classicCs .navPalette h3, div.explore h3, div.myPlaces h3,
	/* Palette top rounders */
div.tools div.topRound b,
div.myPlaces div.topRound b, 
div.explore div.topRound b {
	background-color:#828174;
	color:#fff;
}

div.controlpanel h3, div.controlpanel div.topRound b {
	background-color:#333333;
	color:#fff;
}

/* left side navigation */
.navPalette h3 a, div.controlpanel h3 a, div.controlpanel h3 a:hover,
div.navPaletteExpCol div.navPaletteContent h3 a,
div.navPaletteExpCol div.navPaletteContent h3 a:hover {
	color:#fff;
	background-color:transparent;
	border-color:#3E475E;
}

	
	/* secondary palettes */
div.tools ul, 
div.pickerMenu ul,
div.tools div.bottomRound b	{
	background-color:#DFDED1;
}

div.tools ul li a.submenuLink,
div.tools ul li a {
	border-color:#A7A8DF;
}


	
	/* Control Panel */
div.controlpanel ul,
div.discover ul li h4 a,
div.singleControl a,
div.singleControl div.topRound b,
div.singleControl div.bottomRound b,
div.discover a,
div.discover div.topRound b,
div.discover div.bottomRound b,
div.controlpanel div.bottomRound b,
div.controlpanel a.submenuLink {
	background-color:#777;
	color:#fff;
}

	/* Collapsed bottom rounder*/
div.controlpanel div.controlpanelCol b,
.controlpanel.navPaletteCol b,
h3.listCmCol a {
	background-color:#333333!important;
}

	/* Left Navigation menu link top border */
div.controlpanel ul li a,
div.controlpanel a.submenuLink, 
div.controlpanel a.submenuLink_active,
div.controlpanel a.simpleLink {
	border-color:#222;
	color:#fff;
}


	/* Hover*/
div.controlpanel ul li h4 a:hover, div.controlpanel ul li h4 a:focus,
div.controlpanel ul li h4  a.comboLink:hover, div.controlpanel ul li h4  a.comboLink:focus, 
div.controlpanel ul li a.submenuLink:hover, div.controlpanel ul li a.submenuLink:focus, 
div.controlpanel ul li h4 a.simpleLink:hover, div.controlpanel ul li h4 a.simpleLink:focus,
div.singleControl a:hover, div.singleControl a:focus,
div.discover a:hover, div.discover a:focus,
div.controlpanel a.simpleLink:hover, div.controlpanel a.simpleLink:focus {
	background-color: #5D5C53;
	color:#FFF;
}
	
	/*open states */
div.controlpanel ul li h4  a.open, 
div.controlpanel ul li h4  a.open:hover,
div.controlpanel ul li h4  a.comboLink_active, 
div.controlpanel ul li h4  a.comboLink_active:hover,
div.controlpanel ul li a.submenuLink_active, 
div.controlpanel ul li a.submenuLink_active:hover,
div.controlpanel ul li ul.submenu li a,
div.tools ul li h4  a.comboLink_active,
.paletteSearch  {
	background-color:#FFF;
	color:#000;
}


div.controlpanel ul li ul.submenu {
	background-color:#fff;
}

div.controlpanel ul li ul.submenu li a:hover {
	background-color:#ededed;
	color:#000;
}

	/* Instructor Area Divider */
h2.navDivider {
	border-color:#fff;
	color:invert;
}

div.singleControl ul li a {
	color:#fff;
}


div.treeViewCs div.topRound b {background-color:#777;}


div.navPaletteExpCol div.navPaletteContent {
	border-color:#000!important;
	background-color:#fff;
}

/* palette submenus (background specified, not just background color) */
div.listCm div.bottomRound b, 
div.buttonCm div.bottomRound b,
div.contentTree div.bottomRound b, 
div.contentTree div.bottomRound b {
	background:#FFFFFF;
}


div.navPaletteCol div.controlpanelCol b {
	background-color:#13621C;
}


div.navPaletteCol div.listCmCol b, 
div.navPaletteCol div.bottomRound b, 
div.navPaletteCol div.topRound b {
	background-color:#617057;
}

div.listCm div.listCmCol b {
	background-color:#617057!important;
}


/* --- END LEFT SIDE NAVIGATION --- */







/* ================= PANE TABS ================= */

/*div.paneTabs ul {border-color:#222;}*/

	/* Idle */
.paneTabs ul li a, 
.paneTabs .external a, 
.paneTabs .personal a {
	background-color:#DFDED1;
	color:#000;
}

.paneTabs ul li a:hover {background-color:#D1C698;} 

	/* Active */
.paneTabs .active a, 
.paneTabs .active a:hover,
.paneTabs a:hover, 
.paneTabs .external a:hover,
.paneTabs .activepersonal a:hover {
	background-color:#D1C698;
	color:#000;
}

/* --- END PANE TABS --- */





/*================= CONTENT PANE =================*/


/*Branding hooks*/
#contentArea,
#schemePreviewBody,
/*Regular selectors*/
.container, .contentPane div.bottomRound b { 		
	background-image:;
	background-position:;
	background-repeat:;
	color:;
	background-color:#ffffff;
}



/*================= PAGE VARIATIONS=================*/

	/* portal */
div.portal div.container, 
div.containerPortal, 
div.portal div.bottomRound b, 

	/* content pane */
div.landing div.container, 
div.landing div.bottomRound b {
	background-color:#FFF;
}

div.landingPageColumn ul li a {
	color:#000000;
}

div.landingPageColumn ul.outcomesLanding li h3, div.landingPageColumn ul li p {
	border-color:#A4BD92;
	color:#333;
}


/* --- END NON-CONTENT PAGES --- */





/* === PAGE HEADER ================= */

	/* Page title */
#pageHeader, 
#schemePreviewHead, 
div.pageTitle,
	/* Action Bars */
div.actionBar, 
div.contentPaneWide div.actionBar,
	/* Local View Toggle */
div.localViewToggle,
.navPalette div.actionBarMicro, 
	/* Rounders (located atop of pageheader or action bar)*/
div.contentPane div.topRound b, 
div.topRound b,
div.listCm div.topRound b, 
div.buttonCm div.topRound b, 
div.treeContainer div.topRound b,
div.treeViewCs div.topRound b,
#pickerPalette div.topRound b,
	/*Lightbox*/
div#lightboxContent h2,
#lightbox div.topRound b,
	/*Sequence Tabs*/
div.mapTabs,
div.mapTabs ul li.active h3,
#puller,
.frameResizeToggle {
	background-color:#D1C698;
}

#puller {
	border-color:#000;
}

div.pageTitle h1 {
	color:#000;
}

	/* Page header */
div.pageTitle, div.actionBar, div#lightboxContent h2, .frameResizeToggle {
	border-color:#DCDF8B;
}


	/* Help text */
div.helphelp, p.helphelp, div.pageTitle p {
	color:#222;
}

div.helphelp a, p.helphelp a, div.pageTitle p a {
	color:#000;
}

/* --- END PAGE HEADER --- */




/* === ACTION BAR ================= */

.actionBar ul {
	background-color:inherit;
}

div.navPalette div.actionBarMicro {
	border-color:#000;
}

div.navPalette div.actionBarMicro ul {
	background-color:transparent;
}

/* --- END ACTION BAR --- */








	/* Active local view toggle link */
div.localViewToggle ul li a.active,
	/* Left side navigation action bar active link */
.navPalette .actionBarMicro ul li.active a, 
.navPalette .actionBarMicro ul li a:hover,
.navPalette .actionBarMicro ul li.active a.options,
.sliderWrapper  {
	border-color:#DCDF8B;
}

	/* local view toggle */
div.localViewToggle ul li a {color:#000;} 
div.localViewToggle ul li a.active {color:#000;} 
div.localViewToggle ul li.separator {border-left-color:#E6B971;}




/* === BUTTONS BUTTONS BUTTONS ================= */

/* === PRIMARY CONTROLS ================= */

  /*Branding hooks*/
#primaryButton, 
input[type="submit"].submit,
  /*@cleaned 9.1*/
.mainButton a,
.actionBarMicro .mainButton a,
.rumble .mainButton > a, .rumble_top .mainButton > a,
  /*@since 9.1*/
.button-1, .button-1-img,
	/*discussions thread detail*/
div.threadButtons a.reply, div.dbThreadInfo p a.reply {
	background-color:#777777;
	border-color:#333333;
	color:#fff;
 }
 
	/* Hover */
input[type="submit"].submit:hover,
  /*@cleaned 9.1*/
.mainButton a:hover, .mainButton a:focus,
.navPalette  .actionBarMicro .mainButton a:hover, .navPalette .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:hover, .rumble .mainButton > a:focus, .rumble_top .mainButton > a:focus,
  /*@since 9.1*/
.button-1:hover, .button-1:focus, .button-1-img:hover, .button-1-img:focus,
	/*discussions thread detail*/
div.threadButtons a.reply:hover, div.dbThreadInfo p a.reply:hover {
	background-color:#333333;
	border-color:#333333;
	color:#FFF;
	background-image:none;
 }


/* --- END PRIMARY CONTROLS --- */


/* === SECONDARY CONTROLS ================= */
 
  /*Branding hooks*/
#secondaryButton, 
  /*@cleaned 9.1*/
.secondaryButton a,
  /*@since 9.1*/
.button-2, .button-2-img {
  background-color: #CCC;
	border-color:#DCDF8B;
	color:#000;
 } 

  /* Hover */
  /*@cleaned 9.1*/
.secondaryButton a:hover, .secondaryButton a:focus,
  /*@since 9.1*/
.button-2:hover, .button-2:focus, .button-2-img:hover, .button-2-img:focus {
  background-color:#fff;
	color:#000;
	border-color:#DCDF8B;
}

/* --- END SECONDARY CONTROLS --- */


/* === TERTIARY CONTROLS ================= */

.paging a, div.rumble_top ul li.secondaryControl a, div.rumble ul li.secondaryControl a,
div.rumble a, div.rumble_top a, div.rumble a:hover,
div.rumble_top ul li.inventory_paging a, div.rumble ul li.inventory_paging a {
	background-color:#ededed;
	background-image:url(/images/ci/ng/gradient_black_short_bt.png);
	background-repeat:repeat-x;
	background-position:0  30%;
	border-color:#bbb;
	color:#000000;
}

.paging a:hover, div.rumble_top ul li.secondaryControl a:hover, div.rumble ul li.secondaryControl a:hover,
div.rumble a:hover, div.rumble_top a:hover,
div.rumble_top ul li.inventory_paging a:hover, div.rumble ul li.inventory_paging a:hover  {
	background:#fff;
	border-color:#777;
}

/* --- END TERTIARY CONTROLS --------------------------- */

/* --- END BUTTONS ------------------------ */



/* === PORTAL MODULES ================= */

	/* Portlet */
#moduleBorder, 
#moduleBody,
.portlet,
.portlet h2 span.reorder {
	border-color:#333333;
	background-color:#FFFFFF;
}

	/* Portlet Title */
#moduleTitle, 
.portlet h2 {
	background-color:#777;
	color:#FFD45B;
}
	/* Portlet Title on hover */
.portlet h2.dragHandle:hover {
	background-color:#333333;
}

.portlet h3, #lightbox h3, .portlet div.portletBlock h4, .portlet div.blockContents h4 {
	color:#000;
	border-color:#777;
}

/*TN*/ .portlet h3 {   
color: #CC3300;
font-style:italic;
}
	/* portlet link */
.portlet h2 a {
	color:#333333;
}

/* --- END PORTAL MODULES -------------------------------- */



/* === DYNAMIC ELEMENTS ================= */

	/* Contextual menus */
ul.nav li.sub ul, 
.cmdiv ul, 
.menumini ul, 
div.quickAddPal, 
div.keyboardAccess,
ul.nav li.sub ul li a, 
.cmdiv a, .menumini a,
div.actionBarMicro ul.nav li.sub ul li a, 
div.paneTabs ul.nav li.sub ul li a,
	/* tagging */
span.currentTags,
	/* a span that appears on discussion pages that indicates "Loading Thread..." */
.loadingElipse,
/* Inline editing elements */
.liveArea, .liveArea-slim, .liveAreaTab, 
	/* Button is turned into liveArea tab when .liveaArea is displayed. */
a.liveAreaTab, a.liveAreaTab:hover, a.liveAreaTab:focus,
.actionBar ul li a.liveAreaTab:focus, .actionBar ul li.mainButton a.liveAreaTab, .actionBar ul li.secondaryButton a.liveAreaTab,  
	/* Preview area (read-only version of live area) */
.previewArea, 
/* Preview area (read-only version of live area) */
.jumptopage, 
.panelTabs li.active a.edit, .panelTabs li.active a.edit:hover, .panelTabs li.active a.edit:focus,
	/*Multi-column flyout*/ 
.flyout, 
	/*Overrides for the file hierarchy three*/
ul.tree li a + img + a:focus, ul.tree li img + img + a:focus, 
div.treeContainer ul.tree li a.itemActive, 
#learningUnitToc ul.tree li a.itemActive, ul.tree li a.itemActive,
	/* Menu borders. */
ul.nav li.sub ul, .cmdiv ul, .menumini ul, div.quickAddPal, 
div.keyboardAccess, .cmdiv,
	/* contextual menu for tagging */
span.currentTags,
	/* Paging preference element */
div.rumble ul li.jumptopage, 
div.rumble ul li.inventory_page.jumptopage, 
div.rumble_top ul li.jumptopage, 
div.rumble_top ul li.inventory_page.jumptopage,
li.inventory_paging input,
.inventory_paging .currentPage,
div.jumptopage,
div.jumptopage input,
	/* Close menu link */
.cmdiv li.contextmenubar_top a, span.currentTags a.closeCloud,
.cmdiv li.contextmenubar_top a:focus, .cmdiv li.contextmenubar_top a:hover, 
.currentTags a.closeCloud:hover, .currentTags a.closeCloud:focus  {
	background-color:#f0f0f0;
	border-color:#333333;
}

	/* Dynamic Element Header */
div.quickAddPal div.quickAddPalHeader, div.quickAddPal h3,  div.keyboardAccess h3 {
	border-color:#ccc;
	background-color:#f0f0f0;
}

div.quickAddPal div.controls, div.keyboardAccess div.controls, .comText div.controls {
	border-color:#ccc;
}

	/* Hover */
ul.nav li.sub ul li a:hover, 
.cmdiv a:hover, .menumini a:hover {
	background-color:#fff;
	color:#000;
}


/* Paging preference element */
div.rumble ul li.jumptopage, 
div.rumble ul li.inventory_page.jumptopage, 
div.rumble_top ul li.jumptopage, 
div.rumble_top ul li.inventory_page.jumptopage,
div.jumptopage  {
	background-color:#ddd;
}

ul.nav li.sub ul li a:hover, .cmdiv ul, .nav .sub .flyout ul {
 border-top-color: #ddd;
}

	/* Close menu link */
.cmdiv li.contextmenubar_top a, span.currentTags a.closeCloud {
	background-color:#ddd;
}

.cmdiv li.contextmenubar_top a:focus, .cmdiv li.contextmenubar_top a:hover, .currentTags a.closeCloud:hover, .currentTags a.closeCloud:focus  {
	background-color:#ccc;
}



/* --- END DYNAMIC ELEMENTS --- */




/* === INVENTORY TABLES ================= */

/* Highlighting background of a selected item row.*/
tr.high, table.inventory tbody tr.high td, table.inventory tbody  tr.high th {
	background-color:#EDEDED;
	border-color:#aaa;
}

table.inventory thead {
  	background-color:#cfcfcf;
	border-top-color:;
    border-bottom-color:;
}


table.inventory thead tr th {
	color:#333;
	border-bottom-color:#999;
	border-left-color:#999;
	border-top-color:#777;
}

table.inventory tbody {
	border-bottom-color:#777;
}

table.inventory tbody tr {
	*border-bottom-color:;
}

table.inventory tbody tr td, table.inventory tbody tr th {
	border-bottom-color:;
}

table.inventory thead tr th.sorted, th.sorted {
	background-color:;
}

table.sortable th a {
	color:#333;
}


/* --- END INVENTORY TABLES --- */




/* ================= RECEIPTS and ERRORS ================= */

.bad {
	background-color: #A52818;
}

.good {
	background-color: #25A50E;
}

fieldset.stepcontent ol li.fieldError,  li.fieldError {
	background-color:#FFF6B3;
}



/* ================= LOGIN PAGE ================= */

div.loginBack b, div.loginBody {
	background-color:#fff;
}

div.loginBody {
	background-color:#FFF;
}

#loginContainer, #loginPane div.loginBack b {
	background-color:#FFFFFF;
	border-color:#FFFFFF;
}

#loginBox, #loginOptions  {
	background-color:#DFDED1;
	border-color:#fff;
}

#loginBox li input[type="text"], #loginBox li input[type="password"] {
	border-color:#888;
}

textarea:focus, #loginBox li input[type="text"]:focus, #loginBox li input[type="password"]:focus, #loginBox li textarea:focus, input[type="text"]:focus,
div.quickAddPal div.field input[type="text"]:focus, div.quickAddPal div.field select:focus, div.quickAddPal div.field textarea:focus  {
	background-color: #FAFFE4;
	border-color:#000!important;
} 

#loginOptions ul li a, #loginOptions ul li.subOption a {
	background-color:#DFDED1;
	color:#000;
}

#loginOptions ul li a:hover, #loginOptions ul li.subOption a:hover {
	background-color:#D1D0BA;
}

#loginText {
	background-color:#D1D0BA;
}

#loginText p {color:#000;}


#loginHeader, #loginLang {
	background:#D1C698;
}





/* ================= INVENTORY TABLES ================= */

	/* Color for zebra stripes */
table.inventory tbody tr.gray td, 
table.inventory tbody tr.gray th 
{background-color:#f0f0f0;}

	/* sorted header */
table.inventory tbody tr td.sorted {
	background-color:#EEEEEE;
}



/* ================= CONTENT LIST ================= */

ul.easylist, 
ul.contentList li, 
.contentPageItem, 
ul.noimg li, 
ul.buildList li, 
ul.contentListPlain li  {
  	border-top-color:#EEEEEE;
	border-left-color:#EEEEEE;
}

	/* Hover Color */
ul.buildList li h3.item:hover,
ul.contentList li h3.item:hover, 
ul.contentListPlain li h3.item:hover {
	background:#efefef;
}

ul.contentList li a, #containerdiv a  {text-decoration:underline; color:#006;} /*TN*/
ul.contentList li a:hover, #containerdiv a:hover  {text-decoration:none;} /*TN*/


/* ================= CONTENT LIST REORDER HANDLES ================= */

	/* lists */
h3 span.reorder {
	background-color:#ededed;
}

	/* course menu */
div.listCm ul.courseMenu li span.reorder, 
div.listCm ul.courseMenu li.invisible span.reorder {
	background-color:#ddd;
}

	/* porlets */
.portlet h2 span.reorder {
	background-color:#333333;
}





/* ================= DATA COLLECTION PAGES ================= */


div.steptitle span, h3.steptitle span {
	background-color:#FFD45B;
	color:#000000;
}

.stepHelp, 
fieldset.stepcontent ol li.stepHelp {
	color:#666666;
}

	/* data collection step item borders*/
fieldset.stepcontent ol li {
	border-bottom-color:#EEEEEE;
}



/* --- END DATA COLLECTION PAGES --------------------------------------------------- */














/*========================READ/EDIT MODE SWITCH======================================*/

.modeSwitch {
	color:#fff;
	border-color:#617057;
}

.read-on {
	background-color:#777;
	color:#fff;
}

.read-off {
	background-color:#fafafa;
	color:#444;
}

.switcherLabel {
	color:#000;
}


/* --- END READ/EDIT MODE SWITCH -------------------------------------- */




a.cmimg {opacity:1;filter:alpha(opacity=100)}


 

/*=== COPYRIGHT ============================== */

div.legal, 
div.additionalInfo {
	border-color:#9F9E8B;
}

#copyright {
	color:#2D341E;
}

#copyright a {
	color:#2D341E;
}


.installation {
color:#000000!important;
}


 

/*=== LIGHTBOX ============================== */


#lightbox div#lightboxContent {
	border-color:#FFF6B3;
	background-color:#000;
}

.myPlacesContent {border-color:#fff;}





/*==== WEBCT CLASSIC 2 (CE 4) ACTION BAR MODIFICATIONS =================================*/

div.actionBar ul.nav li.sub ul li, div.actionBar ul.nav li {
	color:#FFF6B3;
}

div.actionBar ul.nav li.sub {
	color:#ccc;
}

.actionBar ul li, .actionBar ul li.mainButton, .actionbar_portal ul li {color:#fff;}


/* === /SANDSTONE color palette =========================================== */

