/* SHARED css - used across all themes and all pages, including MyBlackboard pages 
 *
 * Rules for this file:
 * - Only put 'named' classes here: Do not style raw elements without a qualifying classname
 * - Only put structural classes here, not colors unless absolutely necessary (comment).
 *
 * The long-term intention is to eventually have the system "functional" with just shared.css included - 
 * maybe not colourful and pretty, but functional 
 */
div.blogContainer div.entryFooter div.addBlogComment {
 display: none;
}

div.blogContainer div.entryFooter a.genericButton {
 display: block;
 float: right;
}

.legend-visible {
  display:block;
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  line-height: 1.2;
  position: static;
  top: auto;
  font-weight: bold;
  width: 100%;
}

.u_controlsWrapper {
 padding: 6px 0;
 *display: inline-block;
}

.u_reverseAlign {
 text-align: right
}

tr.dummyVTBEFooter td {
 padding: 2px;
 text-align: right;
}

div.blogContainer ul.entryComments {
 margin: 0;
 padding: 0;
}

div.blogContainer ul.entryComments li {
 list-style: none;
 margin: 0;
 padding: 6px 0;
}

div.blogContainer ul.entryComments li p {
 margin: 0px 0 4px;
 padding: 12px;
 _height: 1%;
 overflow: hidden;
}

div.blogContainer ul.entryComments li p.commentDate {
 position: relative;
 z-index: 10;
 margin: 2px 0 -1px;
 padding: 0 0 4px;
 text-align: right;
}

/* h5 wrapped around the name of each commentor */
div.blogContainer ul.entryComments li h5 {
 display: inline;
 margin: 0;
 padding: 3px 0 0;
}

.comment-delete {
  background: url(/images/ci/actionbar/clp_item_remove.gif) no-repeat 0 0;
  overflow: hidden;
  display: inline-block;
  height: 17px;
  width: 24px;
}

.comment-delete img {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* div.liveArea styles are since 9.1 - used in Blogs */
div.liveArea fieldset.stepcontent {
 margin: 0;
 padding: 0;
}

div.liveArea fieldset.stepcontent ol li {
 margin: 0;
}

div.liveArea fieldset.stepcontent textarea {
 width: 98%;
 *width: 98%;
 *overflow: auto;
}

div.liveArea fieldset.stepcontent span.inlineHelp {
 display: inline;
}

/* ================= Global Nav Menu ================= */
#mybb-nav .flyout-menu {
 width: 400px;
}

.mybb-tools li {
 height: 40px;
 width: 40px;
 overflow: hidden;
}

.mybb-tools li:hover { /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 /* IE 5-7 */
 filter: alpha(opacity =   100);
 /* Netscape */
 -moz-opacity: 1;
 /* Safari 1.x */
 -khtml-opacity: 1;
 /* Good browsers */
 opacity: 1;
}


.mybb-tools li a {
 height: 39px;
 width: 39px;
 position: relative;
 /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 /* IE 5-7 */
 filter: alpha(opacity =   80);
 /* Netscape */
 -moz-opacity: 0.8;
 /* Safari 1.x */
 -khtml-opacity: 0.8;
 /* Good browsers */
 opacity: 0.8;
}

.mybb-tools li a:focus, .mybb-tools li a:focus img {
  outline: 1px dotted #CCCCCC;
}


#global-list-tools {
 margin: 4px;
 width: 40px;
}

.mybb-tools li a:focus,
.mybb-tools li a:focus img,
.mybb-tools li a:hover { /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 /* IE 5-7 */
 filter: alpha(opacity =                 100);
 /* Netscape */
 -moz-opacity: 1;
 /* Safari 1.x */
 -khtml-opacity: 1;
 /* Good browsers */
 opacity: 1;
}

/* TODO: Someone added color without comment here - against the rules for shared.css */
.mybb-tools li span.badge {
 background-color: #B90000;
 position: absolute;
 right: 0;
 top: 2px;
}

/* TODO: Someone added color without comment here - against the rules for shared.css */
.mybb-tools li.home,.mybb-tools li.logout {
 background-color: #666;
}

/* TODO: Someone added color without comment here - against the rules for shared.css */
.mybb-tools li.home:hover,.mybb-tools li.logout:hover {
 background-color: #404040;
}

/* BEGIN SMALL TOOL ICONS*/
.mybb-tools a {
 background-image: url('/images/ci/mybb/mybb_nav_sprite_sm.png');
 background-repeat: no-repeat;
 background-color: transparent;
}

.mybb-tools .overview a {
 background-position: 5px 7px
}

.mybb-tools .stream a {
 background-position: -72px 7px
}

.mybb-tools .messages a {
 background-position: -115px 7px
}

.mybb-tools .grades a {
 background-position: -156px 7px
}

.mybb-tools .people a {
 background-position: -202px 7px
}

.mybb-tools .spaces a {
 background-position: -247px 7px
}

.mybb-tools .todo a {
 background-position: -293px 7px
}

.mybb-tools .alerts a {
 background-position: -336px 7px
}

.mybb-tools .more-link a {
 background-position: -417px 7px
}

.mybb-tools .calendar a {
 background-position: -459px 7px
}

.mybb-tools .logout a {
 background-position: -372px 7px
}

.mybb-tools .profile {
 height: auto;
 margin-bottom: 5px;
}

.mybb-tools .profile a {
 padding: 0;
 height: auto;
 background-image: none;
}

/* END SMALL TOOL ICONS*/
#global-nav .profile img {
 width: 30px;
 height: 30px;
 margin: 5px;
 padding: 0;
}

/*flyout- bottom button styels*/
/* TODO: Someone added color without comment here - against the rules for shared.css */
.bottom-buttons {
 width: 210px;
 background-color: white;
 height: 25px;
 line-height: 25px;
 position: absolute;
 bottom: 0;
 right: 0;
}

.bottom-buttons li {
 border-right: 1px solid #EEEEEE;
 float: left;
 font-size: 11px;
 overflow: hidden;
 width: 105px;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.bottom-buttons li:last-child {
 border: none;
}

.bottom-buttons a {
 text-indent: -99px;
}

/* hope to un-comment these in the future, so all themes can use the same icons */
/* for now, only the 2012 theme uses these icons. the 2008 themes use icons set on the Customize Brand page */
/*.bottom-buttons-home a {
  background: transparent
              url('/images/ci/mybb/mybb_nav_bottombuttons_sprite.png ') no-repeat
              50% 6px;
}

.bottom-buttons-help a {
  background: transparent
              url('/images/ci/mybb/mybb_nav_bottombuttons_sprite.png ') no-repeat
              50% -13px;
}

.bottom-buttons-logout a {
  background: transparent
              url('/images/ci/mybb/mybb_nav_bottombuttons_sprite.png ') no-repeat
              50% -33px;  
}*/

/* TODO: Someone added color without comment here - against the rules for shared.css */
.bottom-buttons a:hover,.bottom-buttons a:focus {
 color: #000;
 background-color: #ddd !important;
}

.accordion_toggle_active {
 background-color: #ccc !important;
 color: #000;
}

.accordion_content {
 background-color: #eee;
 color: #444444;
 overflow: auto;
 -webkit-box-shadow: 0 5px 10px -7px #000 inset;
 -moz-box-shadow: 0 5px 10px -7px #000 inset;
 box-shadow: 0 5px 10px -7px #000 inset;
}

.accordion_content li {
 margin: 0 12px;
 padding: 4px 0;
}

.accordion_content li:last-child {
 border-bottom: none;
}

.accordion_content li a {
 color: #128FA8;
 padding: 0;
 font-size: 110%;
 line-height: 1.2em;
}


.accordion_content .course-list li a,.accordion_content .accordion-list li a
 {
 border-bottom: 1px dotted;
 font-weight: 600;
 display: inline;
}

.accordion_content .course-list li a:hover,.accordion_content .course-list li a:focus,.accordion_content .accordion-list li a:hover,.accordion_content .accordion-list li a:focus
 {
 border-bottom-style: solid;
}

.accordion-list {
 margin-top: 6px;
}

.accordion_content .noItems {
 margin-top: 12px;
 display: block;
 text-align: center;
 font-size: 110%;
}

.accordion_content li span {
 display: block;
 font-size: 9px;
 line-height: 100%;
}

.accordion_content #menuShortcutText {
  margin-top: 100%;
  font-style: italic;
  font-size: 75%;
}

/*top bar styles--*/

.global-nav-bar-wrap {
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	z-index: 1000;
}

.global-nav-bar {
 /*
font-size: 11px;
 height: 25px;
 position: fixed;
 top: 0;
 right: 35px;
 z-index: 999;
*/
 
	font-size: 11px;
	height: 25px;
	z-index: 999;
	float: right;
	margin-left: 3px;
	position: relative;
 
}

.global-nav-bar.logout {
/*  right: 0px; */
}

.global-nav-bar .badge,.side-nav .menu-icon span.badge {
 /*This badge style should be a global class. Once added into mybb.css, remove this declaration.*/
 display: inline-block;
 font-size: 10px;
 font-weight: 800;
 height: 12px;
 /*  width: 20px; */
 background-color: #b90000;
 text-align: center;
 line-height: .9;
 color: #fff;
 margin-left: 5px;
 -webkit-border-radius: 2px 2px 2px 2px;
 -moz-border-radius: 2px 2px 2px 2px;
 border-radius: 2px 2px 2px 2px;
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
 padding: 3px 3px 0;
}


.global-nav-bar a {
 display: block;
}

.nav-link {
 position: relative;
 display: block;
 padding: 0 49px 0 28px;
 background: none;
 background: rgba(0, 0, 0, 0.2);
 -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000,
  endColorstr=#26000000 );
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000,
  endColorstr=#26000000 );
 zoom: 1;
 color: #eee;
 height: 25px;
 line-height: 25px;
 text-decoration: none;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 white-space: nowrap;
}

.nav-link:hover,.nav-link:focus {
 background: rgba(0, 0, 0, 0.6);
 -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#62000000,
  endColorstr=#62000000 );
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#62000000,
  endColorstr=#62000000 );
}

.global-nav-bar .logout-link {
 width: 32px;
 padding: 0;
 background-image: url('/images/ci/mybb/mybb_nav_logout.png');
 background-repeat: no-repeat;
 background-position: 50% 0;
 text-indent:-10000px;
 overflow:hidden;
}

.global-nav-bar .logout-link:hover,.global-nav-bar .logout-link:focus {
 background-position: 50% -22px;
}

.nav-link .badge {
 position: absolute;
 right: 22px;
 top: 5px;
}

.global-toggle {
 position: absolute;
 right: 0;
 top: 9px;
}

.flyout-menu {
 -webkit-box-shadow: 0 4px 15px 2px #222;
 -moz-box-shadow: 0 4px 15px 2px #222;
 box-shadow: 0 4px 15px 2px #222;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 background-color: #444;
 position: absolute;
 top: 25px;
 right: 0;
 width: 260px;
}

.flyout-menu a {
 color: #128FA8;
}

.flyout-menu .list li {
 padding: .5em;
 border-bottom: 1px solid #eee;
}

.flyout-menu .list li:last-child {
 border-bottom: none;
}

.flyout-menu .list li:hover {
 background-color: #eee;
}

.flyout-menu .accordion-wrapper {
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 background-color: #ddd;
 width: 211px;
 overflow: hidden;
}

.flyout-menu .accordion_toggle {
 outline: none;
}



.flyout-menu .accordion_toggle span {
  -moz-user-select: none;
  background-color: #DDDDDD;
  border-bottom: 1px solid #CCCCCC;
  color: #555555;
  cursor: pointer;
  display: block;
  font-size: 110%;
  font-weight: bold;
  line-height: 25px;
  margin: 0;
  padding: 0 10px;
  text-shadow: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.flyout-menu .accordion_toggle:focus span, .flyout-menu .accordion_toggle:hover span {
 background-color: #ccc;
}

.flyout-menu .mybb-tools {
 float: left;
 height: 100%;
 background-color: #333;
 position: relative;
}

#global-nav .global-top-avatar {
 position: absolute;
 top: 4px;
 left: 6px;
 height: 16px;
 width: 16px;
}

#global-nav-link span.observing {
 background: transparent url(/images/console/icons/observing.gif)
  no-repeat scroll 4px -3px;
 display: inline;
 padding: 3px 1px 3px 30px;
 top: -5px;
 *top: -3px;
 *display: inline-block;
 *vertical-align: top;
 *position: relative;
}

#global-nav .more-tools {
 position: absolute;
 right: 100%;
 bottom: 6px;
 background-color: #404040;
 -webkit-box-shadow: 0 0 12px 1px #111111;
 -moz-box-shadow: 0 0 12px 1px #111111;
 box-shadow: 0 0 12px 1px #111111;
}

.more-tools li {
 float: left;
 padding: 4px;
}

.previewContent .global-nav-bar {
 position: relative;
 float: right;
}

.previewContent .nav-link {
 white-space: nowrap;
}

div.section-loading {
 background: url( /images/ci/misc/progress/progress_learningSystem.gif )
  no-repeat center center;
 display: block;
}

/* ================= END Global Nav Menu ================= */

/*Styles for lightbox.js*/
div.lb-overlay {
 position: fixed;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0;
 z-index: 1001;
}

div.lb-wrapper {
 position: fixed;
 z-index: 1002;
 overflow: hidden;
 border: 1px solid #AAA;
 border-radius: 3px;
 box-shadow: 1px 1px 10px #888;
}

div.lb-wrapper div.lb-header {
 padding: 3px 10px 5px;
}

div.lb-wrapper div.lb-header h2 {
 margin: 0;
 padding: 0 15px 0 0;
 min-height: 1.23em;
 overflow: hidden;
}

div.lb-wrapper div.lb-header a {
 position: absolute;
 right: 10px;
 top: 10px;
 display: block;
}

div.lb-wrapper div.lb-header a img {
 vertical-align: top;
}

div.lb-wrapper div.lb-content {
 overflow: auto;
 padding: 0;
}

.lbAction {
 position: absolute;
 right: 9px;
 top: 5px;
 z-index: 1005;
}

/* Apply to the parent element of children floated right */
.u_floatThis-right {
 float: right;
 /* TODO everywhere but 2012 core had margin-left: 5px; here  
  * - and 2012 even has margin-right; 5px for the reverse of this
  * I think we probably want to just add mergin-left:5px here, -right: 5px in float-left,
  * and then add the reverse margins in shared_rtl.css
  * and then remove all these styles from all other themes.
  */
}

/* Apply to the parent element of children floated left */
.u_floatThis-left {
 float: left;
}

/* clearfix is applied to the parent containing floating children */
.clearfix:after,.clearfixParent>div:after,.clearfixParent>li:after {
 content: ".";
 display: block;
 height: 0px;
 clear: both;
 visibility: hidden;
}

.clearfix,.clearfixParent>div,.clearfixParent>li {
 display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix,.clearfixParent>div,.clearfixParent>li {
 display: block;
}
/* End hide from IE Mac */

/* welcome overlay */
.welcomeOverlay {
 background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B0000000,
  endColorstr=#B0000000 );
 bottom: 0;

 font-family: "Helvetica Neue";
 height: 100%;
 left: 0;
 position: fixed;
 right: 0;

 top: 0;
 width: 100%;
 z-index: 800;
}

/* Colors */
.welcomeMessage strong,.whatsNew h2 {
 color: #21acb6;
 font-weight: bold;

}

.welcomeMessage {
 right: 550px;
 position: absolute;
 top: 75px;
 width: 370px;
   color: #DDDDDD;
  text-shadow: 2px 0 2px #000000;
   z-index: 801;
}

.welcomeMessage h2 {
 font-size: 64px;
 margin: 18px 0 10px;
 font-weight: bold;
 width: 385px;
 word-wrap: break-word;
}

.welcomeMessage p {
 font-size: 22px;
 margin-bottom: 10px;
 line-height: 125%;
}

.whatsNew {
 font-size: 16px;
 position: absolute;
 right: 60px;
 top: 100px;
 width: 380px;
 line-height: 125%;
   color: #DDDDDD;
  text-shadow: 2px 0 2px #000000;
   z-index: 801;
}

.whatsNew li {
 position: relative;
}

.whatsNew .number {
 background: #15cedb;
 background: -moz-linear-gradient(center top, #15cedb 0%, #0C8F98 100%);
 background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#15cedb),
  to(#0C8F98) );
 -ms-filter:
  "progid:DXImageTransform.Microsoft.gradient(startColorstr=#15cedb, endColorstr=#0C8F98";
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#15cedb,
  endColorstr=#0C8F98 );
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 border-radius: 40px;
 -webkit-box-shadow: 2px 2px 2px #000;
 -moz-box-radius: 2px 2px 2px #000;
 box-shadow: 2px 2px 2px #000;
 color: #000;
 font-size: 32px;
 font-weight: bold;
 left: -70px;
 line-height: 48px;
 padding: 0px 10px;
 position: absolute;
 text-align: center;
 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
 top: -10px;
 width: 30px;
}

.whatsNew h2 {
 font-family: "Helvetica Neue", Arial, sans-serif;
 font-size: 26px;
 margin: 15px 0 10px;
 text-shadow: 0 1px 0 rgba(0, 0, 0, .7);
 line-height: 120%;
}

.whatsNew li {
/*  clear: both; */
}

.whatsNew .arrow {
 background: url(overview_global_nav_arrow.png) no-repeat;
 height: 90px;
 position: absolute;
 right: -10px;
 top: -70px;
 width: 40px;
}

.whatsNew ol>li:first-child {
 margin-bottom: 60px;
}

ul.newMenu {
 margin: 10px 0 20px;
}

.newMenu li {
 clear: none;
 float: left;
 width: 100px;
}

#spacesHelp {
	font-size: 12px;
	line-height: 1.3;
	margin: 6px 0 12px;
}

.social-buttons li {
	float: left;
	width: auto;
	margin:3px 6px 6px 0;
}

.social-buttons li {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin:12px 14px 12px 0;
}


.social-buttons li a {
	display: block;
}

.social-buttons li a img {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}


li.socialConnections,li.anotherAccount {
 background-color: #d5fdfd;
 background: -moz-linear-gradient(center top, #dedede 0%, #cacaca 100%);
 background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#dedede),
  to(#cacaca) );
 -ms-filter:
  "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dedede, endColorstr=#cacaca";
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dedede,
  endColorstr=#cacaca );
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 color: #000;
 padding: 9px 18px 8px 24px;
 text-shadow: none;
 width: 160px;
}

li.anotherAccount {
 background: none;
 color: #d5fdfd;
 padding-top: 5px;
 font-size: 12px;
}

li.socialConnections img {
 position: absolute;
 left: 20px;
}

li.socialConnections h3 {
 font-size: 13px;
 margin: 0;
 line-height: 1;
}

li.socialConnections p {
 font-size: 12px;
}

li.socialConnections h3 a,li.socialConnections p a {
 color: #000;
 
}

li.anotherAccount p a {
 color: #21ACB6;
}

.confirmation {
/*
 position: absolute;
 bottom: 20px;
 right: 20px;
*/
}

#finishLater {
 background: transparent;
 border: none;
 border-bottom: 1px #21ACB6 dotted;
 color: #21ACB6;
 font-family: "Helvetica Neue", Arial, sans-serif;
 font-size: 16px;
 font-weight: bold;
 padding: 2px 0;
 text-shadow: 0 1px 0 rgba(0, 0, 0, .7);
}

#finishLater:hover {
 cursor: pointer;
}

.cmdiv {
 z-index: 1150 !important;
 padding: 0;
}

/*Contextual menu  and mini menu containers. Hidden until called.*/
.cmdiv,.menumini,div.quickAddPal,div.keyboardAccess {
 position: absolute;
 display: none;
 z-index: 200;
}

.cmdiv ul {
 width: 180px;
 padding: 3px 4px;
}

.nav .sub ul li a,.cmdiv a,.menumini a {
 width: 190px;
 display: block;
 margin: 0;
 padding: 5px 6px 5px 12px;
 zoom: 1;
 overflow-x: hidden;
 overflow-y: visible;
 word-break: normal;
 word-wrap: break-word;
}

.cmdiv a {
 width: auto !important;
}

a.cmimg {
 zoom: 1;
 *position: static;
}

a.cmimg:hover,a.cmimg:focus {
 opacity: 1;
 filter: alpha(opacity =         100);
}

a.cmimg img {
 width: 16px;
 height: 14px;
 padding: 0;
 margin: 0;
 opacity: 0;
 filter: alpha(opacity =       0);
}

.cmdiv li.contextmenubar_top,.menumini li.contextmenubar {
 position: absolute;
 text-align: right;
 display: block;
 width: 190px;
 right: -1px;
 top: -20px;
 padding: 0;
}

.providerList {
 list-style-type: disc;
 list-style-position: inside;
 margin: 1.5em 2em;
}

.providerList li {
 margin: 0;
}

/* // Styling for tooltip // */
.tooltipContainer,.tooltipContainer-bot {
 position: relative;
 display: inline-block;
}

.tooltip {
	display: none;
	word-wrap: break-word;
	cursor: normal;
	font-size: 13px;
	line-height: 1.25;
	padding: .9em 1.2em 1.1em;
	text-align: center;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	z-index: 99;
	width: 170px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity =   90);
	-moz-opacity: .9;
	opacity: .9;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff!important;
	color:#000!important;
	text-shadow: none;
	font-weight: 400;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
 
}

.tooltipContainer:hover .tooltip,.tooltipContainer:focus .tooltip {
 display: block;
 bottom: 100%;
 left: 50%;
 margin: 0 0 9px -85px;
}

.tooltipContainer .tooltip:after,.tooltipContainer-bot .tooltip:after {
 content: "\25B8";
 display: block;
 font-size: 3em;
 height: 0;
 line-height: 0;
 position: absolute;
 z-index: -1;
 bottom: -2px;
 left: 3px;
 text-align: center;
 -o-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -khtml-transform: rotate(90deg);
 -webkit-transform: rotate(90deg);
 width: 100%;
 color:#fff!important;
}

.tooltipContainer-bot .tooltip:after {
 bottom: auto;
 left: -3px;
 top: 0;
 -o-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
 -khtml-transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
}

.tooltipContainer-bot:hover .tooltip,.tooltipContainer-bot:focus .tooltip,
 /*Item Analysis Tooltips*/ .data-summary tr:hover .tooltipContainer-bot .tooltip,.data-summary-vert tr:hover .tooltipContainer-bot .tooltip
 {
 display: block;
 left: 50%;
 top: 100%;
 margin: 7px 0 0 -75px;
}
/*Item Analysis Tooltips*/
.data-summary .tooltipContainer-bot {
 position: absolute;
 bottom: 3px;
 left: 50%;
 margin-left: -8px;
}

/* // end Styling for tooltip // */

/* // ITEM ANALYSIS // */

/* Item Analysis Data Summary Reports */
.reportSummary .data-summary-container {
 float: left;
 clear: none;
}

.reportSummary .data-summary,.reportSummary .data-summary-vert {
 float: left;
 position: relative;
 margin: 0 12px 0 0;
}

.reportSummary h3 {
 font-weight: normal;
 margin: 9px 0;
}

.reportSummary .data-summary tr {
 float: left;
 border: 1px solid;
 margin: 1px 0 0 -1px;
}

.reportSummary .data-summary th {
 font-weight: normal;
 font-size: 120%;
 padding: 16px 0;
 float: left;
 display: block;
 width: 100%;
 text-align: center;
}

.reportSummary .data-summary td {
 border-top: 1px dotted;
 display: block;
 float: left;
 font-size: 80%;
 height: 30px;
 padding: 5px 0 18px;
 position: relative;
 text-align: center;
 width: 100%;
}

/*changes to item analysis summary boxes*/
.data-summary table {
 min-height: 98px;
 min-width: 120px;
 border: none;
}

.data-summary-vert table {
 min-height: 102px;
 min-width: 120px;
 display: block;
 border: 1px solid;
 padding: 2px;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.data-summary-vert th {
 padding: 3px;
 min-width: 1.5em;
 text-align: center;
 padding: 3px 1px 1px;
 font-size: 120%;
 vertical-align: baseline;
}

.data-summary-vert td {
 text-align: left;
 padding: 3px 3px 1px;
 font-size: 80%;
 vertical-align: baseline;
}

.data-summary table tr:hover,.data-summary-vert table tr:hover {
 cursor: help;
}

/* end Item Analysis Data Summary Reports */
.runReportContainer {
 margin: 0 0 20px;
 padding: 10px 11px;
 position: relative;
 top: -12px;
}

.previousReports ul {
 margin: 5px 24px;
}

.previousReports li {
 margin: 4px 0;
}

.previousReports .previousReports linear {
 border-bottom: 1px dotted;
 padding: 5px 0;
 display: block;
 margin-right: 10px;
}

.reportTitle {
 border-bottom: 1px solid;
 padding-bottom: 10px;
}

.questionDetails .searchResultList-sortOptions {
 display: none;
}

.questionDetails .reportTitle {
 margin: 10px 0;
}

.reportTitle h2 {
 margin: 10px 0 5px;
}

.reportTitle .actions {
 float: right;
 margin-top: -30px;
}

.reportSummary {
 position: relative;
 border-bottom: none;
 width: 100%;
 margin-bottom: 10px;
}

.questionDetails .reportSummary {
 padding: 0;
}

.reportSummary.answerOptions {
 margin-top: 20px;
}

.answerOptions h4 {
 margin: 20px 0;
}

.answerOptions table {
 margin: 20px 0;
 border-collapse: collapse;
 min-width: 400px;
 max-width: 800px;
}

.answerOptions table td {
 padding: 5px;
 border: 1px solid;
}

.interrogativesTable td:first-child,.phraseTable td:first-child,.calculatedNumeric td:first-child
 {
 width: 150px;
}

.questionDetails .reportTable table {
 min-width: 400px;
 height: auto;
 margin: 10px 0;
 border: 1px solid;
}

.reportTable table {
 border: 1px solid;
}

.questionDetails .reportTable th,.questionDetails .reportTable td,.matching th,.matching td
 {
 padding: 5px 10px;
 vertical-align: top;
 border: 1px solid;
 padding: 15px 10px;
}

.matchingNumber
{
 display: inline-block;
 vertical-align: top;
}

.orderCanvasWide
{
 width: 100%;
}

.questionDetails .reportTable th,.matching th {
 padding: 10px 15px;
 vertical-align: middle;
 border: 1px solid;
}

.matching .lastOption td {
 border-bottom: 4px solid;
}

.reportKey {
 display: inline-block;
 border: 1px solid;
 margin: 20px 0;
 padding: 10px 8px;
}

.reportKey h3 {
 margin: 0;
}

.reportKey div {
 font-weight: bold;
 margin: 4px 0 0 16px;
}

.ordering table td img {
 margin: 0 5px;
}

.calculated {
 margin-top: 20px;
 clear: both;
 float: left;
}

ul.key {
 margin: 20px 0;
 width: 100%;
}

ul.key li {
 float: left;
 margin-right: 10px;
 padding-left: 17px;
 width: auto;
}

.smallCell ul {
 width: 50px;
}

li.recommended,li.changed,li.notallgraded {
 display: block;
 float: left;
 margin: 0;
 height: 16px;
}

.smallCell li.recommended,.smallCell li.changed,.smallCell li.notallgraded,.questionTextId li.recommended,.questionTextId li.changed,.questionTextId li.notallgraded
 {
 width: 16px;
}

.smallCell li.recommended,.smallCell li.changed,.smallCell li.notallgraded
 {
 float: right;
}

li.recommended {
 background: url('/images/ci/icons/item_analysis_recommended.png')
  no-repeat;
}

li.changed {
 background: url('/images/ci/icons/item_analysis_changed.png') no-repeat;
}

li.notallgraded {
 background: url('/images/ci/icons/item_analysis_allgraded.png')
  no-repeat;
}

.previousReports a:hover {
 text-decoration: underline;
}

.reportKey h4 {
 margin: 0px;
 padding: 10px 0 0px 25px;
}

/*Item Analysis Fiter layout/design */
.questionFilter div div {
 float: left;
 margin-right: 20px;
 padding-right: 20px;
 border-right: 1px solid;
}

.questionFilter div div:last-child {
 padding-top: 10px;
 border: none;
}

.answerBlock {
 width: 100%;
 margin-bottom: 20px;
}

.answerBlock span{
 white-space: nowrap; /*LRN-60904*/
}

.answerValueStyle {
 width: 400px;
 height: 45px;
 padding: 4px;
 overflow: auto;
 vertical-align: top;
}

/* // FILE PICKER STYLES // */

/* Remove Learn background and padding around container */
body.filePickerWidget { 
  background: url(none); 
}
.filePickerWidget .locationPane { 
	margin-top: 0px; 
	padding-bottom: 60px;
}
}
.filePickerWidget .contentPaneWide { 
  margin: 0px; 
  background: url(none);
}
.filePickerWidget .contentBox,
.filePickerWidget #content { 
  border: 0px; 
  box-shadow: none; 
  border-radius: 0px;
}

/*** Breadcrumbs Re-styling to Demonstrate File System Navigation ***/
.pathFolder {
  background-image: url("/images/ci/icons/tiny-folder.png");
  background-position: left top;
  background-repeat: no-repeat;
 padding-left: 20px !important;
 display: inline-block;
}

.pathSlash {
 padding-left: 5px !important;
 padding-right: 5px !important;
 display: inline-block;
}

.pathFolder a {
 color: #0C80AC;
 text-decoration: underline;
}

.pathfolder:before {
 content: "after";
 margin: 0 4px;
}

/*** Tab Navigation Structure for Picker ***/
#tabsBar {
 
}

.tabsBar {
 min-height: 47px;
 background: #D1EAEF;
 -webkit-border-top-left-radius: 2px;
 -webkit-border-top-right-radius: 2px;
 -moz-border-radius-topleft: 2px;
 -moz-border-radius-topright: 2px;
 border-top-left-radius: 2px;
 border-top-right-radius: 2px;
 border-bottom: 1px solid #BBBBBB;
}

.tabsBar a {
 text-decoration: none;
}

.tabsBar #tabs {
 float: left;
 height: 47px;
 display: inline;
}

.tabsBar .tabs {
 height: 47px;
}

.tabsBar .localViewToggle {
 -webkit-border-top-right-radius: 2px;
 -moz-border-radius-topright: 2px;
 border-top-right-radius: 2px;
 float: right;
}
/*** Navigate Top-level Content Zones ***/
img.zoneIcon {
 margin: 0 5px;
}

/*** Quick Search for All Content ***/
#contentSearch {
 background: transparent;
 padding: 5px;
 white-space: nowrap;
}

.contentInput,.locationInput {
 -webkit-box-shadow: inset 0px 0px 2px 0px #666;
 -moz-box-shadow: inset 0px 0px 2px 0px #666;
 box-shadow: inset 0px 0px 2px 0px #666;
 border: 1px solid #ccc;
 background: #f7f7f7;
 padding: 3px 1px;
 outline: none;
 display: inline;
 margin: 0;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
}

#contentSearch .contentInput input[type="text"], .locationInput input[type="text"]
 {
 border: 0;
 background: transparent;
 padding: 0;
 outline: none;
 height: 22px;
 line-height: 22px;
}

#contentSearch .contentInput, .locationInput {
 margin-right: 4px;
 margin-left: 10px;
}
/*
.locationInput input[type="text"] {
	width: 90px;
}
*/

/*** This Section Will Contain Several Content Navigation and Viewing Functions ***/
#contentActions {
 margin: 0 0 10px 0;
 display: block;
}

/*** Navigate to Parent Folder ***/
#levelUp {
 margin: 2px 0;
}

#levelUp button {
 padding: 5px 7px 5px 5px;
 cursor: pointer;
}

#levelUp button::-moz-focus-inner {
 padding: 0;
 border: 0
}

/*** Jump to... ***/
#editablePath, #quickPath {
 display: inline-block;
 background: #e7e7e7;
 background-image: -moz-linear-gradient(100% 100% 90deg, #ffffff, #dddddd);
 background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#dddddd),
  to(#ffffff) );
 -ms-filter:
  "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#ffffff";
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd,
  endColorstr=#ffffff );
 -webkit-box-shadow: inset 0px 2px 0px 0px #ccc;
 -moz-box-shadow: inset 0px 2px 0px 0px #ccc;
 box-shadow: inset 0px 2px 0px 0px #ccc;
 -webkit-border-top-left-radius: 4px;
 -webkit-border-top-right-radius: 4px;
 -moz-border-radius-topleft: 4px;
 -moz-border-radius-topright: 4px;
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
 border: 0;
 overflow: hidden;
}

#quickPath {
 padding: 0 0 0 5px;
}

.linkables {
 display: table;
 width: 100%;
 border-spacing: 5px;
}

.linkables .link {
 display: table-cell;
 vertical-align: top;
 white-space: inherit;
}

.linkables .folder-nav-up {
 width: 1%;
}

#quickPath ol li {
 display: inline-block;
 margin: 4px 0;
}

#quickPath ol li.folderIncluder,#quickPath ol li.folderCreator {
 margin: 0;
}

.checkmark-btn {
 width: 22px;
 height: 20px;
 padding: 0 !important;
 margin-left: 10px;
 vertical-align: top;
}

.checkmark-btn.mark-inactive {
 background: #fff url(../../../images/cs/icons/include-folder-sprite.png)
  3px -29px no-repeat !important;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}

.checkmark-btn.mark-active {
 background: #fff url(../../../images/cs/icons/include-folder-sprite.png)
  3px 3px no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
 -webkit-box-shadow: inset 0px 0px 2px 1px #999;
 -moz-box-shadow: inset 0px 0px 2px 1px #999;
 box-shadow: inset 0px 0px 2px 1px #999;
}


/*** Add a New Button Style for Include Folder Toggle ***/
.linkables .button-5 {
 padding: 3px 8px;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
 color: #333;
 font-size: 95%;
 text-shadow: 0 1px 0 #eee;
 background: -moz-linear-gradient(100% 100% 90deg, #f9f9f9, #e7e7e7);
 background: -webkit-gradient(linear, left top, left bottom, color-stop (   0%,
  #f9f9f9), color-stop(100%, #e7e7e7) );
 background-position: -10px -10px\9;
 background-image: none\9;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9,
  endColorstr=#e7e7e7 );
 border: 1px solid #ccc;
 display: inline-block;
 box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
 outline: none;
 cursor: pointer;
}

.linkables .button-5::-moz-focus-inner {
 padding: 0;
 border: none;
}

.pressed {
 background: #fff url(../../../images/ci/icons/diag-thick-bg.png) top
  left repeat !important;
 -webkit-box-shadow: inset 0px 0px 3px 1px #999;
 -moz-box-shadow: inset 0px 0px 2px 1px #ccc;
 box-shadow: inset 0px 0px 3px 1px #999;
}

/*** Storage Quota Guage ***/
#storageQuota {
 font-size: 95%;
 color: #666;
 padding-left: 110px;
 position: relative;
 margin-top: 8px;
}

#storageQuota strong {
 color: #333;
}

.quotaGauge {
 width: 100px;
 height: 7px;
 line-height: 7px;
 font-size: 7px;
 border: 1px solid #333;
 background-color: #e7e7e7;
 position: absolute;
 top: 3px;
 left: 0px;
}

.quotaGauge div {
 height: 7px;
 line-height: 7px;
 background-image: -moz-linear-gradient(100% 100% 90deg, #00ADD0, #0189A4);
 background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#00ADD0),
  to(#0189A4) );
 -ms-filter:
  "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ADD0, endColorstr=#0189A4";
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ADD0,
  endColorstr=#0189A4 );
}

/* 
	LEVEL ONE
*/
ul.dropdown {
 position: relative;
 height: 47px;
 -webkit-border-top-left-radius: 2px;
 -moz-border-radius-topleft: 2px;
 border-top-left-radius: 2px;
}

ul.dropdown li {
 font-weight: bold;
 float: left;
 zoom: 1;
 background: transparent;
 height: 47px;
}

ul.dropdown>li {
 border-right: 1px solid #BBBBBB;
 box-shadow: -1px 0px 0px #EEEEEE inset;
}

ul.dropdown>li:first-child {
 border-left: none;
}

ul.dropdown>li:first-child,ul.dropdown>li:first-child>a {
 -webkit-border-top-left-radius: 2px;
 -moz-border-radius-topleft: 2px;
 border-top-left-radius: 2px;
}

ul.dropdown a:hover {
 color: #000;
}

ul.dropdown a:active {
 color: #ffa500;
}

ul.dropdown li a {
 display: block;
 color: #01869E;
 height: 47px;
 line-height: 46px;
 font-weight: normal;
}

ul.dropdown > li > a {
 padding: 0 32px;
}

ul.dropdown li:hover ul li a {
 padding: 0 12px 0px 4px;
}

ul.dropdown li.active {
 background: #ffffff;
 border-bottom: 1px solid #FFFFFF;
}

ul.dropdown li.active a {
  font-weight: bold;
  color: #000000;
}

ul.dropdown li#zoneChooser > a {
 padding: 0px 12px 0px 4px;
}

ul.dropdown li#uploadType > a {
 padding: 0px 12px 0px 20px;
}

ul.dropdown li#zoneChooser > a:after, ul.dropdown li#uploadType > a:after {
 content: "";
 background-image: url('../../../images/ci/icons/tab-expand-chevron.png');
 background-repeat: no-repeat;
 display: inline-block;
 width: 20px;
 height: 9px;
 margin-left: 8px;
}

ul.dropdown li.hover,ul.dropdown li:hover {
 background: #F6F6F6;
 color: #000000;
 position: relative;
}

ul.dropdown>li.hover,ul.dropdown>li:hover {
 z-index: 99;
}

ul.dropdown li.hover a {
 color: black;
 z-index: 999;
}

ul.dropdown li.active:hover {
 background: #ffffff;
}

/* 
	LEVEL TWO
*/
ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: -1px;
 z-index: 100;
 border: 1px solid #ccc;
 border-bottom: 0;
 min-width: 200px;
}

ul.dropdown>li:hover>ul,
ul.dropdown>li:focus>ul {
 z-index: 100;
 top: 46px;
}

ul.dropdown ul li {
 font-weight: normal;
 background: #f6f6f6;
 color: #000;
 border-bottom: 1px solid #ccc;
 float: none;
 padding: 0;
 white-space: nowrap;
 display: block;
}

ul.dropdown ul li a {
 background: none;
}

ul.dropdown li#uploadType ul li a {
 padding: 0px 12px 0px 20px;
}

ul.dropdown ul li > a.hover, ul.dropdown ul li > a:hover {
 background: #ffffff;
 padding: 0;
}

#uploadEngine {
 border: 0;
}

#uploadEngine #dataCollectionContainer {
 margin: 0 -10px;
 padding: 0;
}

#legalAgreement {
 border: 1px solid #CCCCCC;
 height: 80%;
 margin: 15px;
 overflow: auto;
 padding: 8px;
}

#legalButtons {
 margin-right: 15px;
 margin-left: 15px;
}

/* Adjustments to splashTable container for Cloud Settings */
#cloudSettingsForm .stepcontent .label {
 width: 34%;
 min-width: 0px;
 max-width: none;
}

#cloudSettingsForm .stepcontent .field {
 width: auto;
}

#socialProfileSettings .splashTable tr>td:first-child,#cloudSettingsForm .splashTable tr>td:first-child
 {
 width: 33%;
}

/* // NEWLY-INTEGRATED UTILITY CLASSES // */
.u_nopad {
 padding: 0 !important;
}

.u_nowrap {
 white-space: nowrap !important;
}

.insideContainer {
 padding: 20px;
}

.profileCardAvatarThumb a {

}

.profileCardAvatarThumb img {
	height: 18px;
	width: 18px;
	border: 1px solid #ddd;
	display: inline-block;
	padding: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	background: #fff;
	background: rgba(255, 255, 255, .8);
}

/*Skip Link top nav*/

.hideoff.skipLink {
	opacity: 0;
	background: rgba(0,0,0,.1);
}

#topNavSkipLink {
	color: #fff;
	font-size: 11px;
	top: -4px;
	left:9px;
	padding: 9px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 10px\0/; /*IE*/
}

.skipLink {
	color: #fff;
	position: absolute;
	width: 140px!important;
	padding: 9px;
	background: #333;
	background: rgba(0,0,0,.7);
	text-align: center;
	font: normal 11px/1.4 Georgia, serif;
	text-transform: uppercase;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 9px;
	left: 9px;
	opacity: 1;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 1000;
	font-size: 10px\0/; /*IE*/
}

.skipLink:focus {
	outline: 0;
}

div.skipLink {
	background: transparent;
	padding: 0;
	height: 0;
	width: 0;
	overflow: visible;
	z-index: 10000;
}

.abutton {
 text-decoration: none;
 background-color: transparent;
 padding: 0;
 border: none;
}

/* Note: The case I was fixing just needed .abutton for this, but all these other buttons do not switch the mouse pointer properly either.
If we have a consistent rule that 'everything clickable should have the cursor:pointer style' then please add these classes to this style:
   .genericButton:hover,.button-1:hover,.button-2:hover,.button-3:hover,.button-4:hover, 
*/
.abutton:hover {
 cursor: pointer;
}

.hideoff {
 position: absolute;
 overflow: hidden;
 left: -10000px;
 top: -1000px;
 width: 1px;
 height: 1px;
}

.hideoff[tabindex="0"]{top:auto;}

/*Input type="file" */
/* Styles cannot be applied to input type="file" to make it blend  in with the rest of the ui.
 * Setting its opacity to 0 and laying it over the conventional looking button.  
 */

.fileInputWrapper {
  float:left; 
  position:relative; 
  overflow:hidden; 
  padding:0 3px 0 0; 
  margin-right:9px; 
  *top:-5px;
}

.fileInputWrapper input.hiddenInput {
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	padding:0;
	opacity:0;
	filter:alpha(opacity=0);
	text-align:right;
	font-size:210%;
}

.fileInputWrapper input[type="file"] {
	filter:alpha(opacity=0)!important
}

.fileInputWrapper input.visibleInput {
	position:relative; 
	right:0; 
	top:0; 
	z-index:1;
}

.hideme {
 display: none !important;
}

.hidden {
 display: none;
}

.clearfloats {
 clear: both;
}

/*** Container Tabs ***/
.containerTabs li a  {
  cursor:pointer;	
}

.containerTabs li.active a {
  cursor:default;
}

/*ASSESSMENT*/

/* @group KEY:VALUE TABLE */

.questionShell, .quesTable {
  width:100%;
}

.questionShell td,
.questionShell th {
  padding: 3px;
  vertical-align: top;
}

.questionShell th.labelCell,
.questionShell .labelCell {
  width: 17%;
}

.questionShell td.valueCell { width: 83% }

.questionShell .correctAnswer { width: 2% }

.questionShell .field {
  margin: 0 0 12px;
  padding:0 12px 12px 24px;
  position: relative;
  width: 95%;
  float: none;
}

.questionShell .field:last-child {border-bottom:none;}

.questionShell .field img:first-child {
  position: absolute;
  left: 0;
  top: 5px;
}

.questionShell .field .vtbegenerated img {
  top: auto;
  left: auto;
  position: relative;
}

.questionShell .vtbegenerated,
.questionShell td.valueCell table .vtbegenerated { display: inline-block!important }

.answer-label {
  float: left;
  margin: 5px 5px 5px 0;
}

.answer-table .answer-label {
  margin-top: 0;
}

.answer-table th, .answer-table td {
  vertical-align: top;
}

/* @end KEY:VALUE TABLE */

.relativeQuestionImageFormat {
  position: relative !important;
}

.inlineContextMenu a.browse {
	font-weight: normal;
 	word-break: normal;
 	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
 	border: 1px solid #ccc;
 	border-color: #888;
  display: inline-block;
}

.contentList .details .contextItemDetailsHeaders
{
		background:transparent;
		font-size:inherit;
		padding: 2px 0 2px 6px;
		font-weight: normal;
 		word-break: normal;
 		color:#555;
}

.contextItemDetailsHeaders > .detailsValue
{
	  display: inline-block;
		margin: 0 0 0 10px;
}
